
/* *is a universal selector for styling every element */
* {
  margin: 0;
  padding: 0;
}

/* pseudo-class */
:root {
  --primary-color: #CCCCCC;
  --secondary-color: #F1BB7F;
  --tertiary-color: #94CE97;
}

/* apply styles to the header */

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  color: var(--secondary-color);
  width: 100%;
}

/* apply styles to the header nav */

header h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

header nav {
  margin: 0;
  padding: 20px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

.hero {
  position: relative;
}

.hero h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--secondary-color);

}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 150%;
  background-color: var(--tertiary-color);
}

.container {
  width: 1024px;
  margin: auto;
}

.section-title {
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: #551A8B;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  width: 75%;
  margin: auto;
  margin-bottom: 10px;
}


.section-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

#bio-image {
  justify-content: center;
  width: 200px;
  height: 200px;
}

.section-grid-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section-grid-container {
  background: var(--secondary-color);
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  border: 2px solid var(--primary-color);
  color: black;
  font-size: 1.2rem;
}

.section-grid-item {
  margin: 15px;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-grid-item h3, .section-grid-item p {
  position: relative;
  top: 200px;
  transition: top 2s;
  opacity: 0;
}

.section-grid-item:hover h3, .section-grid-item:hover p {
  opacity: 1;
}


.item-1 {
  grid-column: 1 / span 3;
}

.project-1 {
  width: 100%;
  height: 233px;
  background-image: url(./assets/run-buddy.jpg);
  background-size: cover;
}

.project-2 {
  grid-row: 1 / span 2;
  background-image: url(./assets/horiseon.jpg);
  background-size: cover;
  width: 100%;
  height: 233px;
}

.project-3 {
  width: 100%;
}

.contact-info {
  text-align: center;
  list-style: none;
}


@media screen and (max-width: 980) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    
  }

  header nav ul li a {
    font-size: 20px;
    width: 100%;
  }

  .section-title {
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .header-img {
    width: 100%;
  }
}
