
/* *is a universal selector for styling every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pseudo-class */
:root {
  --primary-color: #CCCCCC;
  --secodary-color: #F1BB7F;
  --tertiary-color: #94CE97;
}

/* apply styles to the header */

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  color: var(--secodary-color);
}

/* apply styles to the header nav */

header h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

header nav {
  margin: 0;
  padding: 20px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secodary-color);
  border-radius: 15px;
  text-shadow: none;
}

.hero {
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 150%;
  background-color: var(--tertiary-color);
}


.container {
  width: 1024px;
  margin: 0 auto;
}

.section-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}


.section-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#work {
}

.section-grid-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section-grid-container {
  background: var(--secodary-color);
  width: 80%;
  display: grid;
  grid-template-columns: 6fr;
  grid-template-rows: 6fr;
  border: 2px solid var(--primary-color);
  color: black;
  font-size: 1.2rem;
}

.section-grid-item {
  margin: 15px;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 3;
  width: 100%;
  height: 150px;
  background-image: url("./assets/run-buddy.jpg") ;
  background-size: cover;
}

#contact-me {
}

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}


